<ion-header>
    <!--
  <ion-navbar hideBackButton>
    <button ion-button menu-toggle (click)="menu()">
      <ion-icon name="menu"></ion-icon>
    </button> 
    <div id="logo"></div>
    <div id="logOut" (click)="presentConfirm()"></div>
  </ion-navbar>   
-->
</ion-header>

<ion-content class="todo">

    <!--
  <ion-label class="ttlProductOverView">{{ 'tk.Titulo2' | translate }}</ion-label>
  <br>
  
  <div>
    <ion-label class="ttlProductOverView2">TOKEN - QR</ion-label>
  </div>
  <br>
  <div class="ttlProductOverView3">
    <ion-card *ngIf="mostrarCreatedCode">
      <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    </ion-card>
  </div>

  <div id="contenedorBtn">                       
    <button ion-button outline (click)="authTkQR()" id="primerBoton" [disabled]="isBtnEnabled" >{{ 'tk.btn' | translate }}</button>
  </div>
  <br>
-->

    <ion-img style="width: 240px;
                height: 60px; 
                left: 15%;
                top: 40px;    
                position: absolute;
                margin-left: auto;
                margin:10px;
                display:block; 
                background: #F0F2F4;" src="assets/img/new/LOGO.svg">
    </ion-img>

    <br><br><br><br><br><br><br><br>

    <ion-card>
        <ion-card-content (ionScroll)="reiniciarSesion()" (click)="reiniciarSesion()">

            <table>
                <tr>
                    <td>
                        <span class="devolver" (click)="devolverse()">
            <ion-img src="assets/img/new/BANDEJA_DEVOLVERSE.svg"></ion-img>
          </span>
                        <span class="otp">
            <ion-img src="assets/img/new/BANDEJA_TKQR.svg"></ion-img>
          </span>
                    </td>
                </tr>
                <br><br>
                <tr>
                    <td>
                        <div class="texto">
                            {{ 'tk.Titulo2' | translate }}
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <br>
                        <!-- Empieza -->

                        <div class="ttlProductOverView3">
                            <div *ngIf="mostrarCreatedCode" style="padding-top: 15px;">
                                <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
                            </div>
                        </div>

                        <!-- Termina -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <div id="contenedorBtn">
                            <button ion-button outline (click)="authTkQR()" id="primerBoton" [disabled]="isBtnEnabled">{{ 'tk.btn' | translate }}</button>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <!--
    <br>

    <div *ngIf="imgResStatus" class="confirmExitosa">
    </div>
    <p class="respServer">{{resp}}</p>
    
    <div *ngIf="errorAdicional" class="confirmFallida">
    </div>
  -->

        </ion-card-content>
    </ion-card>


</ion-content>